@mixin colorActive($colorName) {
    background-image: url($imgSrc + 'tab_#{$colorName}_on.png');
    // @if $colorName == 'beige' {
    //     background-image: url($imgSrc + 'tab_beige_on.png');
    // } @else if $colorName == 'green' {
    //     background-image: url($imgSrc + 'tab_green_on.png');
    // } @else if $colorName == 'pink' {
    //     background-image: url($imgSrc + 'tab_pink_on.png');
    // } 
}


@mixin colorTabs($colorName) {
    @if $colorName == 'beige' {
        background-image: url($imgSrc + 'tab_beige_off.png');
    } @else if $colorName == 'green' {
        background-image: url($imgSrc + 'tab_green_off.png');
    } @else if $colorName == 'pink' {
        background-image: url($imgSrc + 'tab_pink_off.png');
    } 
}