// 혜택 - 이전 scss 안씀 아까워서 그냥 둠

.benefit {
    &__inner {
        // padding: 70px 0;
    }

    &__tit {
        font-size: 40px;
    }
    &__sub-tit {
        color: #9a8476;
    }
}


.gift {
    $this:&;

    // background-color: lightsteelblue;

    &__list {
        // border: 1px solid red;
        margin-top: 70px;
        display: flex;
        text-align: left;
        
    }

    .top {
        .point {
            color: #828d6d;
        }



        #{$this}__txt {
            
            
            .point {
                color: #828d6d;
            }
        }

        #{$this}__img {
            background-color: #bec3ac;
        }


        #{$this}__product {
            li {
                b {
                    display: block;
                }
            }

            li + li {
                // border: 1px solid red;
                margin-top: 10px;
                
            }

            &::before {
                background-color: #828d6d;
            }

        }
        
    }


    .bottom {
        flex-direction: row-reverse;

        #{$this}__txt {
            .point {
                color: #cf8b88;
            }
        }


        #{$this}__img {
            background-color: #d6caba;

            .point {
                color: #cf8b88;
            }
        }

        #{$this}__product {
            li + li {
                margin-top: 7px;
            }

            &::before {
                background-color: #cf8b88;
            }
        }
    }

    &__box {
        width: 50%;
    }

    &__img {
        // border: 1px solid lime;
        img {}
    }

    &__txt {
        padding: 20px 0 20px 30px;

        > p {
            
        }

        > b {
            font-size: 25px;
        }
    }

    &__product {
        margin-top: 35px;
        position: relative;
        // border: 1px solid blue;

        &::before {
            content: '';
            width: 50px;
            height: 2px;
            background-color: darkorange;
            display: block;
            position: absolute;
            top: -20px;
            left: 0;
            transform: translateY(50%);
        }

        > li {
            > b {}
        }
    }
}