@import '_mixins.scss';
.wrap {
    position: relative;
}
/* --------------------- header --------------------- */
header {
}

/* --------------------- main --------------------- */
main {
    background-color: #f8f4f1;
    text-align: center;
}
/* ------------- section01 - main -------------- */
.main {
    // display: none;
    &__inner {
        // height: 100vh;
        padding: 0;
    }

    &__visual {
        img {
            width: 100%;
        }
    }
}


/* ------------- section02 - reservation -------------- */
.reservation {
    position: relative;
    background-color: #f2d0ca;

    &__inner {
        >img {
            width: 604px;
            height: 107px
        }
    }

    &__tabs { 
        margin-top: 58px;
        
    }

    &__tab-list {
        display: flex;
        border: 1px solid #756865;
        
    }

    &__tab-btn {
        width: 33.333333%;
        cursor: pointer;
        

        & + & {
            border-left:1px solid #756865;
        }

        > button {
            width: 100%;
            height: 58px;
            background:no-repeat 50% 50%;
        }

        > .beige {
            @include colorTabs('beige');
        }

        > .green {
            @include colorTabs('green');
        }

        > .pink {
            @include colorTabs('pink');
        }
        

        &.active {
            > button {
                background-color: #f6e2d9;
            }

            > .beige {
                @include colorActive('beige');
            }
    
            > .green {
                @include colorActive('green');
            }
    
            > .pink {
    
                @include colorActive('pink');
            }

        }


        button {
            pointer-events: none;
            cursor: pointer;
        }
    }


    &__content {
        margin-top: 40px;


        &-desc {
            > img {
                width: 100%;
                // height: 100%;
            }

            // border: 1px solid blue;
            display: none;
            &.active {
                display: block;
            }
        }


    }

    
    &__submit-btn {
        margin-top: 40px;
        // border: 1px solid red;
        width: 350px;
        height: 70px;
        background: url(../img/reserv_submit_btn.png) no-repeat 0 0;
        background-size:contain;
    }

}

/* ------------- popup -------------- */
.popup {
    position: absolute;
    top: 0;
    padding-top: 1000px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    display: none;

    &__inner {
        width:580px;
        z-index: 100;
        margin: 30px auto 0;
        position: relative;
        background-color: #f9f1e6;
    }


    &__form {
        color: #68594a;
        font-weight: bold;

        &-inner {
           padding:0 45px 59px;
           position: relative; 
           

           > p {
               padding: 32px 0 19px;
               color: #756759;
               text-align: center;
               font-size: 18px;
           }
        }
    }

    &__personal {
        padding: 34px 0;
        border-top: 1px solid #fff;
    }

    &__form-item {
        display: flex;

        label {
            line-height: 59px;
            width: 113px;
            font-size: 20px;
        }

        input {
            border: none;
            width: 376px;
            height: 59px;
            padding: 0 13px;
            font-size: 18px;

            &::placeholder {
                color: #d6d6d6;
            }
        }

        & + & {
            margin-top:19px;
        }
    }
    
    &__color-select {
        margin-top: 34px;
        font-size: 20px;
    }

    &__color-list {
        margin-top: 20px;
        padding-left: 5px;
        display: flex;
    }

    &__color {
        width: 33.333333%;
        text-align: center;
        line-height: 47px;
        cursor: pointer;
        
        

        & + & {
            margin-left: 11px;
        }

        > input {
            display: none;
        }

        > input + label {
            cursor: pointer;
            display: block;
            color: #777777;
            border: 1px solid #a1a1a0;
            background-color: #fff;
            border-radius: 30px;
        }

        > input:checked + label {
            color: #fff;
            border: unset;

            &[for="green"] {
                background-color:#a2ae7e;
            }

            &[for="pink"] {
                background-color:#dc968d;
            }

            &[for="beige"] {
                background-color: #c3ab92;
                

            }
        }
    }


    &__submit-btn {
        width: 100%;
        height: 90px;
        display: block;
        cursor: pointer;
        background-color: #6b7f61;
        color: #fff;
        font-size: 28px;
    }

    &__close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 17px;
        right: 18px;
    }


    &__agree {
        padding-top: 36px;
        border-top: 1px solid #fff;
    }

    &__notice {
        margin-top: 38px;
        color: #c8c2ba;

        li {
            position: relative;
            &:last-child {
                margin-top: 14px;
            }

            font-size: 16px;
            padding-left: 10px;

            
            &::before {
                content: '';
                width: 4px;
                height: 4px;
                position: absolute;
                top:50%;
                left: 0;
                transform: translateY(-50%);
                background: url(../img/popup_ellipse.png) no-repeat 0 0;
                // border: 1px solid blue;
            }
        }
    }

    &__ck-box {
        & + & {
            margin-top: 20px;
        }

        > input {
            display: none;
        }

        > input + label {
            padding-left: 32px;
            position: relative;
            cursor: pointer;

            > .ck-icon {
                width: 24px;
                height: 25px;
                position: absolute;
                left: 0;
                top: 0;
                background: url(../img/agree_ck.png) no-repeat 50% 50%;
                display: none;

            }

            &::before {
                content: '';
                width: 24px;
                height: 25px;
                display: block;
                position: absolute;
                background-color: #fff;
                top:0;
                left: 0;
            }

            span {
                color: #83807c;
                font-size: 20px;
            }
        }

        > input:checked + label {
            > .ck-icon {
                display: block;
            }
        }

    }

}


@-webkit-keyframes pageUp {
    0%{
        top: 100px;
        // opacity: 0;
      }

      100%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // opacity: 1;
      }
}

/* ------------- success -------------- */
.success-popup {
    display: none;
    &__msg {}
    &__notice {}
}

/* ------------- section03 - benefit -------------- */
.benefit {
    &__inner {
        // padding: 70px 0;
    }

    &__tit {
        font-size: 40px;
    }
    &__sub-tit {
        color: #9a8476;
    }
}


.gift {
    $this:&;

    // background-color: lightsteelblue;

    &__list {
        // border: 1px solid red;
        margin-top: 70px;
        display: flex;
        text-align: left;
        
    }

    .top {
        .point {
            color: #828d6d;
        }



        #{$this}__txt {
            
            
            .point {
                color: #828d6d;
            }
        }

        #{$this}__img {
            background-color: #bec3ac;
        }


        #{$this}__product {
            li {
                b {
                    display: block;
                }
            }

            li + li {
                // border: 1px solid red;
                margin-top: 10px;
                
            }

            &::before {
                background-color: #828d6d;
            }

        }
        
    }


    .bottom {
        flex-direction: row-reverse;

        #{$this}__txt {
            .point {
                color: #cf8b88;
            }
        }


        #{$this}__img {
            background-color: #d6caba;

            .point {
                color: #cf8b88;
            }
        }

        #{$this}__product {
            li + li {
                margin-top: 7px;
            }

            &::before {
                background-color: #cf8b88;
            }
        }
    }

    &__box {
        width: 50%;
    }

    &__img {
        // border: 1px solid lime;
        img {}
    }

    &__txt {
        padding: 20px 0 20px 30px;

        > p {
            
        }

        > b {
            font-size: 25px;
        }
    }

    &__product {
        margin-top: 35px;
        position: relative;
        // border: 1px solid blue;

        &::before {
            content: '';
            width: 50px;
            height: 2px;
            background-color: darkorange;
            display: block;
            position: absolute;
            top: -20px;
            left: 0;
            transform: translateY(50%);
        }

        > li {
            > b {}
        }
    }
}

/* --------------------- footer --------------------- */
.footer {
    background-color: #ebe4da;
    color: #887d79;

    &__inner {
        padding: 20px 30px;
    }
}

.notice-box {
    display: flex;
    div {
        padding-left: 30px;
    }
}