@import '_variables.scss';
@import '_mixins_mo.scss';
.root--mo {
/* --------------------- common --------------------- */
.section {
    // background-color: #fff5e9;

    &__inner {
        padding: 120px 0;
        width: 580px;
        margin: 0 auto;
        // border: 1px solid red;
    }
}

.a11y {
    position:absolute;
    top: auto;
    left: -9999em;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip:rect(0 0 0 0);
}



.wrap {
    position: relative;
    min-width: 960px;
    margin: 0 auto;
    width: 100%;
}
/* --------------------- header --------------------- */
header {
}

/* --------------------- main --------------------- */
main {
    text-align: center;
    background-color: #fff5e9;
}
/* ------------- section01 - main -------------- */
.main {
    background:url($imgSrc + 'main_background.png') no-repeat 0 0;
    background-size:cover;
    padding: 83px 0 98px;
    

    &__inner {
        padding: 0;
    }

    &__visual {
        position: relative;
        height: 451px;

        &-img {
            position: absolute;
            &.left {
                left: 0;
                z-index: 100;
            }

            &.right {
                right: 0;
            } 

            > img {
                // width: 100%;
            }
        }
    }
}


/* ------------- section02 - reservation -------------- */
.reservation {
    position: relative;
    background-color: #f2d0ca;

    &__inner {
        padding: 79px 0 99px;
    }

    &__tabs { 
        width: 500px;
        height: 81px;
        margin: 58px auto 0;
    }

    &__tab-list {
        display: flex;
        border: 1px solid #756865;
        font-size: 0;
        
        
    }

    &__tab-btn {
        width: 33.333333%;
        cursor: pointer;
        

        & + & {
            border-left:1px solid #756865;
        }

        > button {
            width: 100%;
            height: 58px;
            background:no-repeat 50% 50%;
        }

        > .beige {
            @include colorTabs('beige');
        }

        > .green {
            @include colorTabs('green');
        }

        > .pink {
            @include colorTabs('pink');
        }
        

        &.active {
            // border: 1px solid red;
            > button {
                background-color: #f6e2d9;
            }

            > .beige {
                @include colorActive('beige');
            }
    
            > .green {
                @include colorActive('green');
            }
    
            > .pink {
    
                @include colorActive('pink');
            }

        }


        button {
            pointer-events: none;
            cursor: pointer;
        }
    }


    &__content {
        margin-top: 40px;
        width: 500px;
        margin: 0 auto;


        &-desc {
            > img {
                width: 100%;
                // height: 100%;
            }

            // border: 1px solid blue;
            display: none;
            &.active {
                display: block;
            }
        }


    }

    
    &__reserv-btn {
        margin-top: 40px;
        width: 500px;
        height: 80px;
        background: url($imgSrc + 'mo/mo_reserv_submit_btn.png') no-repeat 0 0;
        background-size:contain;
    }

}

/* ------------- section03 - benefit -------------- */
.benefit {
    &__inner {
        // padding: 70px 0;
        padding: 100px 0;
    }

    &__title {
        > img {
            display:block;
            margin:0 auto;
        }

        >.price {
            margin-top: 26px;
            
        }
    }

    .gift {
        margin-top: 58px;
    }

    
}


/* ------------- section04 - product -------------- */
.product {
    &__inner {
        padding-bottom: 100px;
        padding-top: 0;
    }
    
    &__view {
        margin-top: 50px; 
        position: relative;

        &-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &-item { 
            $this: &;
            cursor: pointer;
            width: 500px;
            margin: 0 auto;

            &-img {
                position: relative;
            }

            &.left {
                margin-bottom: 10px;

                > #{$this}-img {
                    height: 300px;

                }
            }

            &.right {
                
                display: flex;

                > #{$this}-img {
                    width: 167px;
                    height: 118px;

                }
            }
            
            
        }
    }

    &__intro {
        margin-top: 30px;

    }


    &__btn-area {
        margin-top: 20px;

        button {
            background: no-repeat 0 0;
            width: 500px;
            height: 80px;
            
        } 

        .share-btn {
            background-image: url($imgSrc + 'mo/mo_product_share_btn.png');

        }


        .reserv-btn {
            margin-top: 11px;
            background-image: url($imgSrc + 'mo/mo_product_now_reserv_btn.png');
        }
    }
}


/* ------------- popup gallery -------------- */
.popup-gallery {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.active {
        display: block;
    }

    &__inner {
        position: fixed;
        width: 580px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__img {
        display: none;

        &.active {
            display:flex;
        }

        >img {
            width: 100%;
        }
    }


    &__close-btn {
        position: absolute;
        right:20px;
        top: 20px;
        width: 30px;
        height: 30px;
        background: url($imgSrc + 'mo/popup_gallery_close_btn.png') no-repeat 0 0;
    }
}




/* --------------------- footer --------------------- */
.footer {
    background-color: #e8e0d7;

    &__inner {
        width:580px;
        margin: 0 auto;
    }
}
}